[submodule "lib/Real-World-Modelling-Simulation"]
	path = lib/Real-World-Modelling-Simulation
	url = https://github.com/Davidnln13/Real-World-Modelling-Simulation.git
[submodule "lib/RWM"]
	path = lib/RWM
	url = https://github.com/KDaryl/RWM.git
[submodule "lib/p0-C00203711"]
	path = lib/p0-C00203711
	url = https://github.com/Pierce-James/p0-C00203711.git
[submodule "lib/RealWorldSimY4"]
	path = lib/RealWorldSimY4
	url = https://github.com/AaronCur/RealWorldSimY4.git
